@model SportMarket.ViewModels.OrderDetailsViewModel

    <link href="~/css/create.css" rel="stylesheet" />
    <div class="create">
        <div class="create__content">
            <div class="create__content__title">
                <h2>Деталі замовлення</h2>
            </div>
            <div class="create__content__items">
                <div class="create__content__item">
                    <div class="create__content__item__title">
                        <h3>Кошик</h3>
                    </div>
                    <div class="createBasket">
                        <div class="createBasket__items _scroll">
                            @if (Model.OrderedBasket.Basket.Status != "Rejected" && Model.OrderedBasket.Basket.Status != "Delivered")
                            {
                                <form asp-controller="AdminPanel" asp-action="AddToBasket" asp-route-orderId="@Model.OrderedBasket.Id" asp-route-basketId="@Model.OrderedBasket.Basket.BasketId">
                                    <div class="product">
                                        <select name="selectedProduct" id="products" asp-items="@Model.Products"></select>
                                        <input type="number" name="count">
                                        <button type="submit">Додати</button>
                                    </div>
                                </form>
                            }
                            @foreach (Card card in Model.OrderedBasket.Basket.Cards)
                            {
                        <div class="createBasket__item">
                            <div class="createBasket__item__block">
                                <div class="createBasket__block__image">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(card.Product.Image))" alt="">
                                </div>
                                <div class="createBasket__block__info">
                                    <a asp-controller="Home" asp-action="Product" asp-route-productId="@card.Product.ProductId">@card.Product.Title</a>
                                    <div class="createBasket__info__cost">@card.Product.Cost</div>
                                    <div class="addBasket__content__counter">
                                        <h5>Кі-сть: @card.Count (На складі: @card.Product.Quantity)</h5>
                                    </div>
                                </div>
                            </div>
                            @if (Model.OrderedBasket.Basket.Status != "Rejected" && Model.OrderedBasket.Basket.Status != "Delivered")
                            {
                                <a asp-controller="AdminPanel" asp-action="RemoveCard" asp-route-cardId="@card.CardId" asp-route-orderId="@Model.OrderedBasket.Id" class="createBasket__item__block">
                                    <div class="createBasket__delete"></div>
                                </a>
                            }
                        </div>
                            }
                        </div>
                        <div class="createBasket__total">
                            <h4>До оплати: <span class="totalCost">@Model.OrderedBasket.Basket.Cards.Sum(x => x.Count * x.Product.Cost)</span><span class="TotalBonusCost"></span> грн</h4>
                        </div>
                    </div>
                </div>
                <div class="create__content__item">
                    <div class="create__content__item__title">
                        <h3>Деталі</h3>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>Email: @Model.OrderedBasket.Email</h5>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>ПІБ: @Model.OrderedBasket.Surname @Model.OrderedBasket.Name @Model.OrderedBasket.LastName</h5>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>Телефон: @Model.OrderedBasket.Phone</h5>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>Адреса доставки: @Model.OrderedBasket.Address.City.State.Name область, @Model.OrderedBasket.Address.City.Name, @Model.OrderedBasket.Address.Name</h5>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>Списувати бонуси: @Model.OrderedBasket.Bonuses</h5>
                    </div>
                    <div style="margin: 10px 0;">
                        <h5>Дата оформления: @Model.OrderedBasket.Date.ToString("dd.MM.yyyy HH:mm")</h5>
                    </div>
                </div>
                @if (Model.OrderedBasket.Basket.Status == "Rejected" || Model.OrderedBasket.Basket.Status == "Delivered")
                {
                    <div class="create__content__item">
                        <div class="create__content__item__title">
                            <h3>Статус</h3>
                        </div>
                        <select disabled name="selectedStatus" id="" asp-items="@Model.Statuses"></select>
                    </div>
                }
                else
                {
                    <form asp-controller="AdminPanel" asp-action="EditStatus" asp-route-basketId="@Model.OrderedBasket.Basket.BasketId" asp-route-orderId="@Model.OrderedBasket.Id">
                        <div class="create__content__item">
                            <div class="create__content__item__title">
                                <h3>Статус</h3>
                            </div>
                            <select name="selectedStatus" id="" asp-items="@Model.Statuses"></select>
                        </div>
                        <div class="create__content__item">
                            <div class="create__item__block">
                                <div class="create__item__button"><input type="submit" value="Підтвердити"></div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>